
.button-s{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.name h1{
    font-family: 'Shrikhand';
    font-size: 1.8rem;
}

.name i {
    font-size: 1.7rem;
}

.main{
    display: flex;
    margin: auto;
    justify-content: center;
}


.arrow-back{
    margin-top: 18px;
    margin-left: 21px;
    color:black;
    font-size: large;
}

.backpic{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}

.content, .sub-menu{
    font-family: 'Roboto';
}

.menu{
    background-color: #f4f4f4;
    border-radius: 35px 35px 0px 0px;  
    padding: 15px 15px 15px 15px;
    margin-top: -40px;
    z-index: 1000;
    position:relative;
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px 20px 10px;
}

.rest-button{
    border-radius: 10px;
    border: 1px;
    background-color: white;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 3px 0px #e2e2e2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity:0;
}

.title {
    color: black;
    font-size: 1.1rem;
    display: flex;
    margin: 0;
    margin:5px;
}
.foot-button{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.sub-menu{
    color:grey;
    margin: 20px 0px 20px 0px;
    border-bottom: 2px solid;
    border-color: #99E2D0;
    width: 40px;
}

.sub-title{
    color: grey;
    font-size: 120%;
}

.splp{
    margin-left: 30px;
}


/***************Anim*****************/

.rest-button > .content{
    width: 100%;
    font-size: 13px;      
    transition: all 1s ease; 
}

.rest-button:hover > .content{
    width: calc(100% - 60px);    
}

.sub-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.anim2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #99e2d0;
    border-radius: 0px;
    color: white;
    text-align: center;
    transition-duration: 5s;
    height: 60px;
    width: 0px;
    transition: all 1s ease;
}

.rest-button:hover > .anim-menu >.anim2 {
    visibility: visible;
    background-color: #99e2d0;
    width: 60px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    transform: scaleX(1);
}

.anim3{
    visibility: hidden;
    background-color: transparent;
}

.rest-button:hover > .anim-menu >.anim2 >.anim3 {
    visibility: visible;
    background-color: transparent;
    transform: rotate(360deg);  
    transition: all 0.5s ease;
}

.anim-check{
    font-size: 20px;
    background-color: transparent;
}

.v1 {
    animation: 1s show-button 0s forwards;
}

.v2{
    animation: 1s show-button 0.5s forwards;
}

.v3 {
    animation: 1s show-button 1s forwards;
}

.v4 {
    animation: 1s show-button 1.5s forwards;
}

.v5 {
    animation: 1s show-button 2s forwards;
}
.v6 {
    animation: 1s show-button 2.5s forwards;
}
.v7 {
    animation: 1s show-button 3s forwards;
}
.v8 {
    animation: 1s show-button 3.5s forwards;
}
.v9 {
    animation: 1s show-button 4s forwards;
}

/***************Anim - la note*****************/

.v11 {
    animation: 1s show-button 0s forwards;
}

.v12{
    animation: 1s show-button 0.5s forwards;
}

.v13 {
    animation: 1s show-button 1s forwards;
}

.v14 {
    animation: 1s show-button 1.5s forwards;
}

.v15 {
    animation: 1s show-button 2s forwards;
}
.v16 {
    animation: 1s show-button 2.5s forwards;
}
.v17 {
    animation: 1s show-button 3s forwards;
}
.v18 {
    animation: 1s show-button 3.5s forwards;
}
.v19 {
    animation: 1s show-button 4s forwards;
}
.v20 {
    animation: 1s show-button 4.5s forwards;
}

@keyframes show-button {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

